/* Global */
:root {
    --global-text-color: #ffffff;
    --global-background-color: #181818;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100svh;
    display: grid;
    align-content: center;
    font-family: system-ui;
    font-size: 1.333rem;
    color: var(--global-text-color);
    background: var(--global-background-color);
}

/* Utilities */
.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

.hidden {
    display: none;
}

/* Main widget content */
.widget {
    --_widget-max-width: 300px;
    --widget_padding: 1em;
    --widget_content-padding: calc(var(--widget_padding) / 2);
    --widget_background: #282828;
    --widget-border-width: 2px;
    --widget-border-style: solid;
    --widget-border-color: #ffffff;
    --widget-border-radius: calc(var(--widget_padding) / 2);

    max-width: var(--_widget-max-width);
    margin-inline: auto;
    padding: var(--widget_padding);
    border-radius: var(--widget-border-radius);
    text-align: center;
    background: var(--widget_background);
}

.widget-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.widget-table :where(th, td) {
    width: 50%;
    padding: var(--widget_content-padding);
    border: var(--widget-border-width) var(--widget-border-style) var(--widget-border-color);
}

[data-display="landscape"] table {
    rotate: 90deg;
}
[data-display="landscape"] th,
[data-display="landscape"] td {
    rotate: -90deg;
}
[data-display="landscape"] thead {
    display: none;
}

.widget-currencies {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.widget-currencies > * {
    flex: 1;
}

/* Widget base styles */
.widget button {
    font: inherit;
    border: 0;
    color: inherit;
    background: 0;
    cursor: pointer;
}